registry=https://registry.npmjs.org/
@salt:registry=https://registry.npmjs.org/
//saltsecurity.jfrog.io/artifactory/api/npm/npm-salt/:_auth=
//saltsecurity.jfrog.io/artifactory/api/npm/npm-salt/:_authToken=
always-auth=false